<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>تأیید ثبت‌نام</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
</head>
<body>
    <h1>تأیید ثبت‌نام</h1>
    <form method="post">
        {% csrf_token %}
        <label for="verification_code">کد تأیید:</label>
        <input type="text" id="verification_code" name="verification_code" class="form-control">
        <button type="submit" class="btn btn-primary">تأیید</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
